[DEFAULT]

#
# Options defined in scrapnfving.cmd
#

# Wiki URL to scrap from (string value)
#wiki_url=https://wiki.openstack.org/wiki/Teams/NFV

# Defined dashboard file (string value)
#dashboard_name=nfv.dash

# Shorten the result URL or not (boolean value)
#shorten=true


[gerrit]

#
# Options defined in scrapnfving.sketching
#

# Regex pattern for searching review topics (string value)
#pattern_reviews=http[s]?://review.openstack.org/(?:#/c/)?([0-9]+)


[launchpad]

#
# Options defined in scrapnfving.utils.launchpad
#

# Launchpad client name (string value)
#client=just testing

# Launchpad webservice instance (string value)
#instance=production

# Version of the LaunchpadAPI (string value)
#api_version=devel


[local_file]

#
# Options defined in scrapnfving.utils.shorteningservice.local
#

# Page to update (string value)
#file=/var/www/html/index.html

# Jinja2 template for generating the page (string value)
#template=index.html.jinja2


[parser]

#
# Options defined in scrapnfving.scraping
#

# Strict HTML parsing (boolean value)
#strict=false

# Column name for wikitables containing blueprints (string
# value)
#th_name=Blueprint(s)


[shortening]

#
# Options defined in scrapnfving.journaling
#

# Short URL to update (string value)
#short_url=http://tiny.cc/fipdix


#
# Options defined in scrapnfving.utils.shorteningservice
#

# External Shortening API (string value)
#api=local_file


[tiny_cc]

#
# Options defined in scrapnfving.utils.shorteningservice.tiny_cc
#

# Tiny.cc login (string value)
#login=mylogin

# Tiny.cc API key (see http://tiny.cc/api-docs) (string value)
#apikey=mysecretapikey

# Tiny.cc API version (see http://tiny.cc/api-docs) (string
# value)
#version=2.0.3

# Tiny.cc Short URL hash (see http://tiny.cc/api-docs) (string
# value)
#hash=<None>


